/**
 * Estuary API
 * This is the API for the Estuary application.
 *
 * OpenAPI spec version: 0.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.MaingetApiKeysResp
import io.swagger.client.models.MainuserStatsResponse
import io.swagger.client.models.UtilHttpError

import io.swagger.client.infrastructure.*

class UserApi(basePath: kotlin.String = "//api.estuary.tech/") : ApiClient(basePath) {

    /**
     * Get API keys for a user
     * This endpoint is used to get API keys for a user. In estuary, each user can be given multiple API keys (tokens). This endpoint can be used to retrieve all available API keys for a given user.
     * @return kotlin.Array<MaingetApiKeysResp>
     */
    @Suppress("UNCHECKED_CAST")
    fun userApiKeysGet(): kotlin.Array<MaingetApiKeysResp> {
        
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/user/api-keys"
        )
        val response = request<kotlin.Array<MaingetApiKeysResp>>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Array<MaingetApiKeysResp>
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Revoke a User API Key.
     * This endpoint is used to revoke a user API key. In estuary, every user is assigned with an API key, this API key is generated and issued for each user and is primarily use to access all estuary features. This endpoint can be used to revoke the API key thats assigned to the user.
     * @param key Key 
     * @return void
     */
    fun userApiKeysKeyDelete(key: kotlin.String): Unit {
        
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/user/api-keys/{key}".replace("{" + "key" + "}", "$key")
        )
        val response = request<Any?>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Create API keys for a user
     * This endpoint is used to create API keys for a user. In estuary, each user is given an API key to access all features.
     * @return MaingetApiKeysResp
     */
    @Suppress("UNCHECKED_CAST")
    fun userApiKeysPost(): MaingetApiKeysResp {
        
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/user/api-keys"
        )
        val response = request<MaingetApiKeysResp>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as MaingetApiKeysResp
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Export user data
     * This endpoint is used to get API keys for a user.
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    fun userExportGet(): kotlin.String {
        
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/user/export"
        )
        val response = request<kotlin.String>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.String
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Create API keys for a user
     * This endpoint is used to create API keys for a user.
     * @return MainuserStatsResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun userStatsGet(): MainuserStatsResponse {
        
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/user/stats"
        )
        val response = request<MainuserStatsResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as MainuserStatsResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
