/**
 * NOTE: This class is auto generated by the swagger code generator program (3.0.35).
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */
package io.swagger.api;

import com.fasterxml.jackson.databind.ObjectMapper;
import io.micronaut.http.*;
import io.micronaut.http.annotation.*;
import io.reactivex.Single;
import io.swagger.v3.oas.annotations.*;
import io.swagger.v3.oas.annotations.responses.*;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import javax.annotation.Nullable;
import javax.validation.Valid;
import javax.validation.constraints.*;
import java.io.IOException;
import java.util.List;
import java.util.Map;
import java.util.Optional;

@javax.annotation.Generated(value = "io.swagger.codegen.v3.generators.java.MicronautCodegen", date = "2022-09-27T20:40:53.180766-10:00[Pacific/Honolulu]")
@Controller
public interface AutoretrieveApi {


    @Operation(summary = "Marks autoretrieve server as up", operationId = "autoretrieveHeartbeatPost", description = "This endpoint updates the lastConnection field for autoretrieve" , tags = {"autoretrieve"})
    @Post(value = "/autoretrieve/heartbeat")
    default Single<HttpResponse<Void>> autoretrieveHeartbeatPost(@NotNull @Parameter(description = "Autoretrieve's auth token") @Valid @Header(value = "token") String token
) {
        return Single.fromCallable(() -> {
            throw new UnsupportedOperationException();
        });
    }

}
